
.container-dashboard {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
 h2 {
  font-weight: bolder;
  text-align: center;
 }
}

.card-booking {
  box-shadow: 0 1px 1px 0 rgba(0,3,36,0.28);
  border: 1px gray;
  padding: 20px;
  margin-top: 20px;
img {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}
}
.card-booking h4 {
  font-weight: bolder;
}

.card-superpower {
  box-shadow: 0 1px 1px 0 rgba(0,3,36,0.28);
  border: 1px gray;
  padding: 20px;
  margin-top: 20px;
img {
  height: 200px;
  width: 266px;
  margin-bottom: 30px;
}
}

.card-superpower h4 a {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
}

// .buttoneditfordashboard{
//   margin-top: 20px;
//   width: 100px;
//   text-align: center;
// }

// .fa{
//   margin-top: 20px;
//   margin-right: 100px;
// }

.card-superpower a:hover {
  color: #1932A0;
}

.card-superpower p {

}

.edit-delete li {
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  padding-right: 50px;
}



