
.new_flexible-form {
    display: -webkit-box;
    display: flex;
    background-color: white;
    margin: 70px 251px 70px 80px;
    box-shadow: 5px 7px #8888880D;
 }

.new_coloured-side {
  padding: 120px 130px 0 120px;
  background-image: url("https://images.unsplash.com/photo-1531270794133-e17fd309885c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new_body {
  background-color: #F8F8FF;
}

.new_h3 {
  width: 340px;
  font-size: 3.75rem;
}

.new_container {
    margin-right: 50px;
    margin-left: 50px;
    width: 500px;
    padding: 55px 0px 10px 0px;
}

.new_form-group {
  margin-bottom: 0px;
}

.new_input {
  .form-control-file {
  border-color: black;
  }
}
