#flexible-form {
    display: -webkit-box;
    display: flex;
    background-color: white;
    margin: 120px 230px 32px 230px;
    box-shadow: 5px 7px #8888880D;
    .body {
  background-color: #F8F8FF;
}
h3 {
  width: 340px;
    font-size: 1.75rem;
    color: white;
    opacity: 0.5;
}
.container-new {
    margin-right: 50px !important;
    width: 500px !important;
    padding: 0px 0px 16px 0px !important;
    background-color: white !important;
}
.form-group {
  margin-bottom: 0px;
}
.signup {
  margin-top: 30px;
  margin-left: 100px;
  width: 300px;
 }
 .file-option {
  padding: 0px 0px 0px 0px !important;
 }
 .btn {
   margin: 14px 0px 0px 0px !important;
 }

 .label {
  display: inline-block;
  margin-bottom: 0px !important;
  margin-top: 11px !important;
}
}

.coloured-side {
  padding: 418px 130px 0 10px;
  background-image: url('https://images.unsplash.com/photo-1538051046377-5ad74dc62f95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}









