// .powername{
//   padding-top: 20px;
// }

.navbar-all {
 flex-grow: 0;
 justify-content: space-between;
 align-items: start;
 display: flex;
 border-bottom: 1px solid #f1f1f1;
 padding: 8px 16px;
}

.navbar-all ul {
  margin-top: 12px;

}

.navbar-all li {
  display: inline;
  text-decoration: none;
  padding-left: 15px;
}

.navbar-all a {
  color: black;
  padding: 12px;
  &.special {
    color: black;
  }
}

.navbar-all a:hover {
  text-decoration: none;
  background-color: #f4f4f4;
  color: black;

}

.container-index {
  margin: 50px;
}


.delete-button{
  text-decoration: none;
  // color: black;
  margin-top: 35px;
  padding: 10px;
}

.delete-button:hover{
  color: black;
  text-decoration: none;
  opacity: 0.5;
}

.content{
 display: flex;
 justify-content: space-evenly;
}

.within-content {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
  padding-top: 33px;
  padding-bottom: 20px;
}

.within-form {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.booking-form{
  flex-grow: 1;
  width: 300px;
}

.info{
  width: 582px;
}

#background-color-is {
  background: #FDFEFE;
}


#navbar-button-override{
  color: black;
}


.showpowername {
  font-weight:bold;
}

.showpowerprice{
  font-weight:bold;
  color:#444444;
}

.showpowerparagraph{
  color:#444444;
  margin-top: 25px;
}

.margin-right-for-content{
  margin-right:10px;
}

.margin-left-for-form{
  margin-left:10px;
}
