// .powername{
//   padding-top: 20px;
// }

.delete-button{
  text-decoration: none;
  color: black;
}

.delete-button:hover{
  color: black;
  text-decoration: none;
  opacity: 0.5;
}

.content{
 display: flex;
 justify-content: space-evenly;
}

.within-content {
    padding-left: 76px;
    padding-right: 76px;
    margin-bottom: 100px;
}

.booking-form{
  flex-grow: 1;
  width: 300px;
}

.info{
  width: 582px;
}

#background-color-is {
  background: #f4f4f4;
}

#navbar-button-override{
  color: black;
}

.container{
  margin-top: 50px;
}
  // margin-top: 2px;
  // margin-left: 28px;
  // padding-bottom: 30px;
