<div class="navbar sticky-top navbar-lewagon">
    <%= link_to "Home", root_path, class: "btn btn-light special" %>
    <%= link_to "Post your superpower", new_superpower_path, class: "btn btn-primary" %>
</div>
