

.banner {
 background-size: cover;
 background-image: url("https://images.unsplash.com/photo-1537136102161-ea2262437412?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1612&q=80");
 background-position: center;
 background-repeat: no-repeat;
 height: 100vh;
 margin-bottom: 30px;
 position: relative;
}

.banner-content {
  margin-top: 100px;
  border: 1px;
  border-radius: 4px;
  width: 400px;
  background-color: white;
  padding: 25px;
   form {
    padding: 10px;
  } h3 {
    padding-bottom: 15px;
    padding-top: 25px;
  }
}

.banner-content-show {
  margin-top: 15px;
  border: 1px;
  border-radius: 4px;
  width: 400px;
  background-color: white;
  padding: 25px;
   form {
    padding: 10px;
  } h3 {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
  }
}

.banner-show {
 background-size: cover;
 height: 400px;
 background-position: center;
 margin-bottom: 30px;
}

#banner-show-override {
 height: 500px;
 background-size: cover;
}

.banner-picture-show-border {
  border-style: solid 1px;
}
