.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 38px;
}

.card-product {
  height: 300px;
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0,3,36,0.28);
  align-items: center;
  justify-content: center;
  font-size: 13px;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #f4f4f4;
  }
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// .card-product .card-product-infos {
//   padding: 16px;
// }
.card-product-infos{
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 12px;
  h3 {
    font-weight: bolder;
  }
}

.card-product h2 {
  font-size: 24px;
}

.card-link {
  color: black;
  text-align: center;
}

.card-link:hover {
  opacity: 0.1;
}

.card-product-infos a {
  color: #293A47;
  font-size: 15px;
}

.card-product-infos a:hover {
  text-decoration: none;
  color: #5DC4F1;
}

.name-price {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
 p {
  font-size: 14px;
  padding-top: 4px;
  font-weight: bolder;
  color: black;
}
}


// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }
