.confirmation {
  margin: auto;
  width: 100%;
  text-align: center;

  .confirmation-h3 {
    margin-top: 30px;
    opacity: 0.7;
  }

  .confirmation-card {
  margin: auto;
  margin-top: 30px;
  width: 800px;
  overflow: hidden;
  box-shadow:  0 1px 1px 0 rgba(0,3,36,0.28);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  img {
    display: block;
    margin-left: 25px;
    height: 100%;
    object-fit: cover;
  }
  p {
    text-align: center;
  }
  .confirmation-list ul {
    padding: 50px;
    list-style-type: none;

  }
  .confirmation-list li {
    font-size: 16px;
    padding-top: 10px;
  }


   .confirmation-list li.bold {
     font-weight: bold;
   }

  .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 100px;
}
}

