.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
 flex-grow: 0;
 justify-content: space-between;
 align-items: start;
}

.navbar ul {
margin-top: 12px;
}

.navbar li {
  display: inline;
  text-decoration: none;
  padding-left: 15px;
}

.navbar a {
  color: white;
  padding: 12px;
  &.special {
    color: black;
  }
}

.navbar a:hover {
  text-decoration: none;
  background-color: white;
  color: black;

}
